<VirtualHost *:<%= @port -%>>
	ServerName <%= @servername %>

	ServerAdmin webmaster@email.com
	DocumentRoot <%= @document_root %>
	
	ErrorLog <%= @log_dir -%>/<%= @servername -%>-error.log
	CustomLog <%= @log_dir -%>/<%= @servername -%>-access.log combined
</VirtualHost>

